<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static '/css/jquery.dataTables.min.css' %}">
    <script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/responsive.bootstrap4.min.css' %}">
    <script src="{% static '/js/dataTables.responsive.min.js' %}"></script>

    <link rel="stylesheet" href="{% static '/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/searchPanes.bootstrap4.min.css' %}">
    <script src="{% static '/js/dataTables.searchPanes.min.js' %}"></script>

    <script src="{% static '/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static '/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static '/js/buttons.html5.min.js' %}"></script>
    <script src="{% static '/js/buttons.colVis.min.js' %}"></script>
    <script src="{% static '/js/jszip.min.js' %}"></script>
    <script src="{% static '/js/vfs_fonts.js' %}"></script>
    <script src="{% static '/js/a076d05399.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />

    <link rel="stylesheet" href="{% static '/css/free.min.css' %}">


    <style>
        @font-face {
            font-family: telenor;
            src: url("{% static '/fonts/Telenor-Regular.otf' %}");
        }

        body {
            font-family: telenor;
        }


        html {
            font-size: 0.8rem;
        }

        @include media-breakpoint-up(sm) {
            html {
                font-size: 1.2rem;
            }
        }

        @include media-breakpoint-up(md) {
            html {
                font-size: 1.4rem;
            }
        }

        @include media-breakpoint-up(lg) {
            html {
                font-size: 1.6rem;
            }
        }
    </style>



    <title>Onboarding Tickets</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href="../dashboard/"><img src="{% static '/images/white-telenor.png' %}" width="25px"
                class="mr-3">Workflow<sup class="font-weight-light">Lite</sup></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="../dashboard/">Dashboard</a>
                <a class="nav-item nav-link active" href="../kam_tickets/">Onboarding Tickets<span
                        class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="../requisition_tickets/">Requisition Tickets</a>
                <a class="nav-item nav-link" href="../visit/visiting_home">Visiting</a>
            </div>

            <div class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.username }} &#9679; {{ user.role }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right text-left" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Something</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../logout/">Logout</a>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <div class="container">
        <br>
        <label class="role">{{ role }}</label>

        <h2 class="mb-4">Onboarding Tickets</h2>

        <!-- KAM and COPC Ticket Table -->
        <div class="card bg-light mb-5" id="kam_table_div">
            <div class="card-body">
                <table id="kam_table" class="table table-striped table-bordered text-center" style="width:100% nowrap">
                    <thead>
                        <tr>
                            <th>BS Code</th>
                            <th>Company Name</th>
                            <th>Completed Stage</th>
                            <th>First Issued</th>
                            <th>Last Updated</th>
                            <th>Global Status</th>
                            <th>Completed By</th>
                            <th>Workflow Type</th>
                            <th>Remarks</th>
                            <th>WFID</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>BS Code</th>
                            <th>Company Name</th>
                            <th>Completed Stage</th>
                            <th>First Issued</th>
                            <th>Last Updated</th>
                            <th>Global Status</th>
                            <th>Completed By</th>
                            <th>Workflow Type</th>
                            <th>Remarks</th>
                            <th>WFID</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="card bg-light mb-5" id="copc_table_div">
            <div class="card-body">
                <table id="copc_table" class="table table-striped table-bordered text-center" style="width:100% nowrap">
                    <thead>
                        <tr>
                            <th>BS Code</th>
                            <th>Company Name</th>
                            <th>Current Stage</th>
                            <th>KAM Owner</th>
                            <th>Last Updated</th>
                            <th>First Issued</th>
                            <th>Global Status</th>
                            <th>Completed By</th>
                            <th>Remarks</th>
                            <th>Workflow Type</th>
                            <th>WFID</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>BS Code</th>
                            <th>Company Name</th>
                            <th>Current Stage</th>
                            <th>KAM Owner</th>
                            <th>Last Updated</th>
                            <th>First Issued</th>
                            <th>Global Status</th>
                            <th>Completed By</th>
                            <th>Remarks</th>
                            <th>Workflow Type</th>
                            <th>WFID</th>
                            <th>Delete</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- Submit Modal -->
        <div class="modal fade" id="submit_modal" tabindex="-1" role="dialog" aria-labelledby="submit_modal_label"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="submit_modal_label">Are you sure you want to delete this ticket?
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <textarea placeholder="Add an optional remark" id="submit_remark" class="form-control"
                            style="min-width: 100%"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button onclick="deleteRequest(this.name)" name="Default" id="fire_submit_button" type="submit"
                            class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<label id="username" hidden>{{ user.username }}</label>

</html>

<script>


    $(document).ready(function () {
        $('.role').hide();
        $('#copc_table_div').hide();
        $('#kam_table_div').hide();


        if ($('.role').text() == "KAM") {
            $('#create_workflow_options').show();
        } else {
            $('#create_workflow_options').hide();
        }

        if ($('.role').text() == "KAM") {
            $('#kam_table_div').show();
            var url = "";
            if ($('.role').text() == "KAM")
                url = "../__kam_tickets";
            else
                url = "../fetch_tickets";
            var table = $('#kam_table').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "ajax": {
                    "url": url,
                    "data": {
                        "role": $('.role').text(),
                        "username": $('#username').text(),
                        "requested_type": "Onboarding"
                    }
                },
                "columns": [
                    { "data": "BS Code" },
                    { "data": "Company Name" },
                    { "data": "Current Stage" },
                    { "data": "First Issued" },
                    { "data": "Last Updated" },
                    { "data": "Global Status" },
                    { "data": "Pending To" },
                    { "data": "Workflow Type" },
                    { "data": "Remarks" },
                    { "data": "WFID" },
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                dom: 'Bfrtip',
                "buttons": [
                    'copy', 'csv', 'excelHtml5', 'colvis', 'pageLength',

                ],
                "order": [[6, "desc"]],
                filter: true,
                scrollCollapse: true,
                scroller: true,
                responsive: true
            });

            $('#kam_table tbody').on('dblclick', 'tr', function () {
                var data = table.row(this).data();
                console.log(data.WFID);
                // alert('You clicked on ' + data.WFID + '\'s row');
                if (data.WFID.includes("OBD"))
                    var win = window.open('../onboarding_form_draft/' + data.WFID);
                else
                    var win = window.open('../product_requisition_form_draft/' + data.WFID);
                win.focus(); var data = table.row(this).data();
            });

            $('#kam_table tbody').on('click', 'button', function () {
                var data = table.row(this).data();
                $('#fire_submit_button').attr('name', data.WFID);
                $('#fire_reject_button').attr('name', data.WFID);
                console.log($('#fire_reject_button').attr('name'));
                console.log($('#fire_submit_button').attr('name'));
            });

            console.log(table.columns());
        } else if ($('.role').text() == "COPC") {
            $('#copc_table_div').show();
            var url = "";
            if ($('.role').text() == "KAM")
                url = "../__kam_tickets";
            else
                url = "../fetch_onboarding_tickets";
            var table = $('#copc_table').DataTable({
                initComplete: function () {
                    this.api().columns().every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.footer()).empty())
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                },
                "ajax": {
                    "url": url,
                    "data": {
                        "role": $('.role').text(),
                        "username": $('#username').text(),
                        "requested_type": "Onboarding",
                    }
                },
                "columns": [
                    { "data": "BS Code" },
                    { "data": "Company Name" },
                    { "data": "Current Stage" },
                    { "data": "KAM Owner" },
                    { "data": "Last Updated" },
                    { "data": "First Issued" },
                    { "data": "Global Status" },
                    { "data": "Pending To" },
                    { "data": "Remarks" },
                    { "data": "Workflow Type" },
                    { "data": "WFID" },
                    {
                        "targets": -1,
                        "data": "null",
                        "defaultContent": `<button id="go" type="button" class="btn btn-danger" data-toggle="modal"
                        data-target="#submit_modal">Delete Request</button>`
                    },
                ],
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                dom: 'Bfrtip',
                "buttons": [
                    'copy', 'csv', 'excelHtml5', 'colvis', 'pageLength',

                ],
                "order": [[6, "asc"]],
                filter: true,
                scrollCollapse: true,
                scroller: true,
                responsive: true
            });

            $('#copc_table tbody').on('dblclick', 'tr', function () {
                var data = table.row(this).data();
                console.log(data.WFID);
                // alert('You clicked on ' + data.WFID + '\'s row');
                if (data.WFID.includes("OBD"))
                    var win = window.open('../onboarding_form_draft/' + data.WFID);
                else
                    var win = window.open('../product_requisition_form_draft/' + data.WFID);
                win.focus(); var data = table.row(this).data();
            });

            $('#copc_table tbody').on('click', 'button', function () {
                var data = table.row(this).data();
                $('#fire_submit_button').attr('name', data.WFID);
                console.log($('#fire_submit_button').attr('name'));
            });

            console.log(table.columns());
        }


        $(function () {
            $('[data-toggle="popover"]').popover()
            $('.popover-dismiss').popover({
                trigger: 'focus'
            })
        })
    });

    function deleteRequest(wfid) {
        $.get("../delete_request/",
            {
                wfid: wfid,
                remark: $('#submit_remark').val()
            },
            function (data, status) {
                alert(data);
                window.location.reload()
            });

    }


    //add rows
    // $("#create").click(function () {

    //     table.addRow({});
    // });
</script>